.ds-section { 
    position: relative; 
}
.table {
    display: table; 
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
} 
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  } 
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  }
  .table tr td {
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  }
  .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  }
  thead tr th {
    background-color: #2d3748 !important; 
    color: #ffffff !important
  }
   
  /* .bg-gray-900 { background-color: #1a202c !important; border: 2px solid yellow; } */
  .table-auto { table-layout: auto; }
  .table-fixed { table-layout: fixed; }

  .text-center { text-align: center; }

  .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
   -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
  }
  .form-control:-ms-input-placeholder {
  color: #999;
  }
  .form-control::-webkit-input-placeholder {
  color: #999;
  }
  .form-control::-ms-expand {
  background-color: transparent;
  border: 0;
  }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
  }
  .form-control[disabled],
  fieldset[disabled] .form-control {
  cursor: not-allowed;
  }
  textarea.form-control {
  height: auto;
  }
  input[type="search"] {
    -webkit-appearance: none;
  }
  .notify-submit-success svg {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}


.bg-grad-sidebar {
  background-image: -webkit-gradient(linear,left bottom,left top,from(#7e8ea1),to(#3c4655));
  background-image: linear-gradient(0deg,#7e8ea1,#3c4655); 

  background: rgb(2,0,36) !important;
  background-image: linear-gradient(0deg, #7e8ea1, rgb(10, 14, 80)) !important;
}
.rd-sidebar-logo-wrapper {
  flex: 1 0 100%;
  text-align: center;
}
.rd-sidebar-logo-wrapper img {
  margin: auto !important;
  height: 50px !important;
}